</div>
</section>

<footer>
  <span>
   <p>
     Criado por Vitor Rey.
    <a href="https://github.com/vitormfrey" target="__blank"><i class="fab fa-github-square"></i></a>
   </p> 
 </span>
</footer>

<script src="/js/index.js"></script>
<script src="/js/acessibilidade.js"></script>

</body>
</html>