</div>
</section>

<footer>
  <span>
   <p>
     Criado por Vitor Rey.
    <a href="https://github.com/vitormfrey" target="__blank"><i class="fab fa-github-square"></i></a>
   </p> 
 </span>
</footer>
