<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="./css/styles.css">  
  <link rel="stylesheet" href="./css/coments.css">  
  <link rel="stylesheet" href="./css/form.css">  
  <title>Covid-19</title>
</head>
<body>

  <header>
    <h1>CASOS CONFIRMADOS NO MUNDO</h1>
    <h1 id="Covid-cases" class="">...</h1>
    
  </header>
  
  <section class="conteudo">
    <div class="container">