<%- include("_header") -%>

<section>
  <form action="POST">
    <div class="form-group green-border-focus">
      <label for="" class="titulo">De que forma o Covid-19 impactou sua vida?</label>
      <textarea class="form-control txa" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
   
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="" value="true">
      <label class="form-check-label" for="exampleRadios1">
        Positiva
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="" value="false">
      <label class="form-check-label" for="exampleRadios2">
        Negativa
      </label>
    </div>
  </form>
</section>

<%- include("_footer") -%>
