<%-include("_header")-%>


<div class="row"> 
  <div class="col">
		<h1>Grafico de prevenção Covid</h1>
		<p style="text-align: center;">Essas previsões foram feitas com Python</p>
    <canvas id="myChart" style="position: relative; height:40vh; width:80vw"></canvas>
  </div>
</div>

<div class="nav-pages">
  <a href="/sintomas" class="bt">
    <i class="fas fa-chevron-circle-left"></i>
  </a>
  <a href="/form" class="bt">
    <i class="fas fa-chevron-circle-right"></i>
  </a>
</div>

<%-include("_footer")-%>