<%-include("_header")-%>

<div class="row">
  <div class="col-md-6 ">
    <h2>COVID-19</h2>
    <p>A COVID-19 é uma doença causada pelo coronavírus, denominado SARS-CoV-2, que apresenta um espectro 
      clínico variando de infecções assintomáticas a quadros graves. 
      De acordo com a Organização Mundial de Saúde, a maioria (cerca de 80%) dos pacientes com COVID-19 
      podem ser assintomáticos ou oligossintomáticos (poucos sintomas), 
      e aproximadamente 20% dos casos detectados requer atendimento hospitalar 
      por apresentarem dificuldade respiratória, dos quais aproximadamente 5% podem necessitar de suporte ventilatório.</p>
      
      <button class="btn btn-outline-dark" onclick="speak()" ><img src="./img/volume-up-solid.svg" alt="Reproduzir Texto" width="20px"><small>  Reproduzir Texto</small></button>
      
      <button class="btn btn-outline-dark" onclick="stop()"><img src="./img/volume-mute-solid.svg" alt="Reproduzir Texto" width="20px"> <small> Parar Reprodução</small></button>
      <button class="btn btn-outline-dark" onclick="daltonico()" >Modo Daltonico</button>


  </div>    

  <div class="col-md-6">
    <img class="virus-img" src="./img/034-virus.svg" alt="" width="200px">
    <img class="virus-img-2" src="./img/034-virus.svg" alt="" width="50px">
    <img class="virus-img-3" src="./img/034-virus.svg" alt="" width="80px">
    <img class="virus-img-4" src="./img/034-virus.svg" alt="" width="100px">
    <img class="virus-img-5" src="./img/034-virus.svg" alt="" width="100px">
  </div> 
</div>   
<div class="nav-pages home">
  <a href="/prevencao" class="bt">
    <i class="fas fa-chevron-circle-right"></i>
  </a>
</div>


<%-include("_footer")-%>