<%- include("_header") -%> 

<h2>Formas de prevenção</h2>  
<ul class="prev-itens">
  <li>
    <img src="./img/035-hand wash.svg" alt="">
    <p class="infos">Lave as Mãos</p>
  </li>
  <li>
    <img src="./img/019-medical mask.svg" alt="">
    <p class="infos">Use máscara</p>
  </li>
  <li>
    <img src="./img/006-crowd.svg" alt="">
    <p class="infos">Evite aglomerações</p>
  </li>
  <li>
    <img src="./img/casa.svg" alt="">
    <p class="infos">Fique em casa</p>
  </li>
</ul>
<p class="call">Clique no botão abixo para mais informações</p>
<div class="nav-pages">
  <a href="/" class="bt">
    <i class="fas fa-chevron-circle-left"></i>
  </a>

  <a  class="bt" id="button" data-toggle="collapse" onclick="btRotate()" href="#collapseExample">
    <i class="fas fa-chevron-circle-down"></i>
  </a>


  <a href="/sintomas" class="bt">
    <i class="fas fa-chevron-circle-right"></i>
  </a>
</div>

<div class="collapse" id="collapseExample" data-parent=".nav-pages">
  <h2>Lavagem das Mãos</h2>
  <div class="conteudosPrevencao" >
      <p>É uma questão de higiene: as nossas mãos estão sempre em contato com superfícies repletas de micróbios perigosos. E não existe melhor maneira de acabar com eles do que limpando dedos, unhas e palmas. ... 
      </p>
      <p>1. Comece a lavagem com movimentos circulares dos dedos de uma mão na palma da outra.</p>
      <p>2. Entrelace as duas mãos para higienizar as “costas” delas e, principalmente, a região entre os dedos.</p>
      <p>3. Repita o processo de dedos cruzados — agora com as palmas juntas. </p>
      <p>4. Para assear as unhas, deixe as mãos em forma de concha e faça movimentos verticais uma na outra, juntando-as  em sentido oposto. </p>
      <p>5. Com a mão ainda em forma de concha, fechada, desenhe círculos na palma. </p>
      <p>6. Use água corrente para tirar o sabão (e as bactérias) de sua pele.</p>
      <p>7. Se possível, feche a torneira com um papel ou uma toalha para não se sujar de novo. </p>
      <p>8. Por fim, seque bem as mãos com uma toalha limpa ou um pedaço de papel.</p>
      <small>Leia mais em: <a href="https://saude.abril.com.br/medicina/8-passos-para-higienizar-bem-as-maos/">https://saude.abril.com.br/medicina/8-passos-para-higienizar-bem-as-maos/</a></small>
  </div>
  <h2>Uso de Máscara</h2>
  <div class="conteudosPrevencao" >
      <p>Pelas ruas é possível observar pessoas com a máscara no queixo, no pescoço, pendurada na orelha ou folgada no rosto. De acordo com a gerente de Operações Médica da Vitalmed, Diana Serra, para usar corretamente a máscara, ela precisa cobrir o nariz e a boca totalmente, sem folgas nas laterais. No manuseio, pegar sempre pelo elástico, nunca pelo tecido e nem tocar na frente dela. “Colocar a máscara no rosto ou tirar para descartar ou lavar são atos que precisam ser feitos cuidadosamente e de forma correta para evitar o risco de contaminação”.</p>
      <p> Uso correto de máscara : </p>
      <p>– Nariz tem que estar totalmente coberto.</p>
      <p>– Queixo não pode ficar de fora.</p>
      <p>– Precisa estar justa ao rosto, sem folgas, principalmente nas laterais.</p>
      <p>– Não usar no queixo ou no pescoço.</p>
      <p>– Não tocar na parte da frente.</p>
      <p>– Retirar pelos elásticos.</p>
      <p>– Descartar na lixeira comum dentro de um saco fechado.</p>
      <small>Leia mais em: <a href="https://www.vitalmed.com.br/covid-19-saiba-como-usar-a-mascara-corretamente/">https://www.vitalmed.com.br/covid-19-saiba-como-usar-a-mascara-corretamente/</a> </small>
  </div>
  <h2>Evite aglomerações</h2>
  <div class="conteudosPrevencao" >
      <p>Como se proteger de uma infecção viral? Não ter um contato próximo, o que a Organização Mundial da Saúde preconiza, de pelo menos um metro de distância. Evite aglomerações e o contato próximo com outras pessoas, além da higiene ao lavar as mãos com água e sabão</p>
  </div>
</div>


<%- include("_footer") -%> 

