<%- include("_header") -%> 

<h2>Formas de prevenção</h2>  
<ul class="prev-itens">
  <li>
    <img src="./img/035-hand wash.svg" alt="">
    <p class="infos">Lave as Mãos</p>
  </li>
  <li>
    <img src="./img/019-medical mask.svg" alt="">
    <p class="infos">Use máscara</p>
  </li>
  <li>
    <img src="./img/006-crowd.svg" alt="">
    <p class="infos">Evite aglomerações</p>
  </li>
  <li>
    <img src="./img/casa.svg" alt="">
    <p class="infos">Fique em casa</p>
  </li>
</ul>

<div class="nav-pages">
  <a href="/" class="bt">
    <i class="fas fa-chevron-circle-left"></i>
  </a>
  <a href="/sintomas" class="bt">
    <i class="fas fa-chevron-circle-right"></i>
  </a>
</div>

<div class="collapsDiv">
  <a type="button" class="collapsible mb-5 bt" onclick="btRotate()" id="bt"><i class="fas fa-chevron-circle-down bt"></i></a>
  <div class="content">
    <div class="dicas-conteudo">
      <h3>DICAS DE PREVENÇÃO</h3>
      <ul class="">
        <li>
          
          <p>
            Lavar frequentemente as mãos com água e sabão ou fazer a limpá-las com álcool gel.
          </p>
        </li>
        <li>
          <p>
            Evitar tocar no rosto com as mãos sujas, principalmente nas áreas os olhos, boca e nariz.
          </p>
        </li>
        <li>
          <p>
            Fazer a limpeza de objetos e superfíces com soluções à base de álcool
          </p>
        </li>
        <li>
          <p>
            Evitar aglomerações e caso for do grupo de risco evitar sair de casa
          </p>
        </li>
        <li>
          <p>
            Sempre ultilizar máscara ao sair de casa e principalmente em ambiente com pouco distanciamento. 
          </p>
        </li>
      </ul>
    
    </div>
  </div>
</div>


<%- include("_footer") -%> 

