<%- include("_header") -%> 

<h2>Formas de prevenção</h2>  
<ul class="prev-itens">
  <li>
    <img src="./img/035-hand wash.svg" alt="">
    <p class="infos">Lave as Mãos</p>
  </li>
  <li>
    <img src="./img/019-medical mask.svg" alt="">
    <p class="infos">Use máscara</p>
  </li>
  <li>
    <img src="./img/006-crowd.svg" alt="">
    <p class="infos">Evite aglomerações</p>
  </li>
  <li>
    <img src="./img/casa.svg" alt="">
    <p class="infos">Fique em casa</p>
  </li>
</ul>

<div class="nav-pages">
  <a href="/" class="bt">
    <i class="fas fa-chevron-circle-left"></i>
  </a>
  <a href="/coments" class="bt">
    <i class="fas fa-chevron-circle-down"></i>
  </a>
  <a href="/sintomas" class="bt">
    <i class="fas fa-chevron-circle-right"></i>
  </a>
</div>

<%- include("_footer") -%> 

