<%- include("_header") -%> 


<h2>Sintomas</h2>  
<ul class="prev-itens">
 <li>
   <img src="/img/sintomas/003-fever.svg" alt="">
    <p class="infos">Febre</p>
</li>
 <li>
   <img src="/img/sintomas/005-cough.svg" alt="">
   <p class="infos">Tosse</p>
</li>
 <li>
   <img src="/img/sintomas/013-headache.svg" alt="">
   <p class="infos">Indisposição</p> 
</li>
 <li>
   <img src="/img/sintomas/026-rhinitis.svg" alt="">
   <p class="infos">Coriza</p>
  </li>
 
 <li>
   <img src="/img/sintomas/022-pneumonia.svg" alt="">
   <p class="infos">Falta de AR</p>            
</li>
 
 <li>
   <img src="/img/sintomas/027-soup.svg" alt="">
   <p class="infos">Perda de Paladar</p>
  </li>
 
</ul>
<div class="nav-pages">
  <a href="/prevencao" class="bt">
    <i class="fas fa-chevron-circle-left"></i>
  </a>
  <a href="/sintomas" class="bt">
    <i class="fas fa-chevron-circle-right"></i>
  </a>
</div>

<%- include("_footer") -%> 
