
@keyframes moveTrain  {
    0% {
       
        transform: translate(-10px,-10px) rotate(0deg);
    }
    33% {
        
        transform: translate(20px, 200px) rotate(120deg) ;
    }
    66% {
        transform: translate(300px, 50px) rotate(240deg);
    }
    100% {
        transform: translate(-10px,-10px) rotate(360deg);
    }

}


@keyframes moveTrain-2  {
    0% {
       
        transform: translate(50px,50px) rotate(0deg);
    }
    33% {
        
        transform: translate(-20px, -100px) rotate(120deg) ;
    }
    66% {
        transform: translate(-300px, 300px) rotate(240deg);
    }
    
    100% {
        transform: translate(50px,50px) rotate(360deg);
    }

}
@keyframes moveTrain-3  {
    0% {
       
        transform: translate(-100px,-100px) rotate(0deg);
    }
    33% {
        
        transform: translate(20px, 20px) rotate(120deg) ;
    }
    66% {
        transform: translate(-150px, 100px) rotate(240deg);
    }
    80% {
        transform: translate(100px, 220px) rotate(240deg);
    }
    100% {
        transform: translate(-100px,-100px) rotate(360deg);
    }

}
@keyframes moveTrain-4  {
    0% {
       
        transform: translate(180px,180px) rotate(0deg);
    }
    33% {
        
        transform: translate(20px, 20px) rotate(120deg) ;
    }
    66% {
        transform: translate(-300px, -80px) rotate(240deg);
    }
    100% {
        transform: translate(180px,180px) rotate(360deg);
    }

}
@keyframes moveTrain-5  {
    0% {
       
        transform: translate(150px,150px) rotate(0deg);
    }
    33% {
        
        transform: translate(20px, 20px) rotate(120deg) ;
    }
    66% {
        transform: translate(500px, -200px) rotate(240deg);
    }
    100% {
        transform: translate(150px,150px) rotate(360deg);
    }

}
@keyframes up{
    0% {
       
        transform: translate(0px,-10px);
    }
    100% {
        transform: translate(0px,-10px) ;
    }
} 