
.coments{
  overflow-y: scroll;  
  height: 450px;
}

.comentario {
  display: flex;
  
  justify-content:center;
  flex-direction: column;
  overflow: hidden;
  background-color: #3a3a3a;
  padding: 40px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
}

.comentario:hover{
  box-shadow:
  5px 5px #FF5757,
  2px 2px #FF5757,
  3px 3px #FF5757;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);


}

.comentario span{
  position: absolute;
  height: 40px;
  width: 40px;

  border-radius: 50%;
  top: 30px;
  left: 50px;
}

.comentario p{
  text-align: left;
  color: #f5f5f5;
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 60px;
  word-wrap: break-word
}

.positivo{
  background-color: #3CA661;
}

.negativo{
  background-color: #FF5757;
}
#valorComment{
  font-size: 26px;
  font-weight: bold;
  margin-top: -25px;
  margin-bottom: -30px;
}

.valorData p{
  float: right;
  color: rgba(199, 198, 198, 0.794);
}