/* @font-face{
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('/fonts/BAHNSCHRIFT.TTF') format('TTF');

}
@font-face{
  font-family: 'Candara Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Candara Regular'), url('Candara.ttf') format('ttf');

} */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
}

a:link{
  text-decoration: none;
}
body{
  
  /* background:#b4c6e6; */
  background:url("/img/covid-map01.png") no-repeat center;
  background-size: cover;
  
}

h1, h2{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 48px;
  /* color:#16355a; */
  color: #ffffff;
  letter-spacing: .5rem;
  text-align: center;
  margin: 20px auto 20px auto;
}

h2{
  font-size: 36px;
}

p{
  font-family: 'Josefin Sans', sans-serif;
  color:#0d0d0d;
}
/*Animações da home-page*/
.virus-img{
  animation:  moveTrain 20s infinite;
}

.virus-img{
  animation:  moveTrain 20s infinite;
}

.virus-img-2{
  animation:  moveTrain-2 19s infinite;
}
.virus-img-3{
  animation:  moveTrain-3 18s infinite;
}

.virus-img-4{
  animation:  moveTrain-4 17s infinite;
}

.virus-img-5{
  animation:  moveTrain-5 16s infinite;
}

/*Animações da home-page fim*/

.conteudo{
  padding: 40px;
  margin-top: 60px;
  background:linear-gradient(90deg, #e52d27 0%,#b31217 100% );
  width: 100%;
}

.nav-pages{
  display: flex;
  justify-content: space-between;
}
.bt{
  color: #16355a;
  margin-top: 30px;
  font-size: 40px;
  
}

.bt:hover{
  color: #ffffff;
  transition: ease-in 0.6s;
}

.giro{
  transform: rotate(-180deg);
}


.home{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
}

/* Conteúdo*/
ul li img{
  display: block;
  width: 100px;
}

li{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.prev-itens{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.prev-itens li img:hover{
  opacity: 0.5;
}
.infos{
  text-align: center;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}
/* Fim  */


/* Footer */
footer{
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

footer p{
  color: #ffffff;
  transition: ease-out 0.6s;
}


footer i{
  font-size: 30px;
  color: #ffffff;
  transition: ease-out 0.6s;
}

footer i:hover, footer p:hover{
 color:#c81d1d;
 transition: ease-in 0.6s;
}
/* Footer Fim*/

/* Collapse */
.collapsDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collapsible {
  background-color:transparent;
  cursor: pointer;
  width: 50px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.content {
  width: 100%;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: transparent;
}
/* Collapse Fim*/


/* Acessibilidade */
.daltonico{
  background:rgba(255, 255, 255, 0.877);
}
.index-text button{
    margin: 5px;
}
/* Acessibilidade */


  /* Responsividade*/

@media screen and (max-device-width: 480px) {
  .prev-itens{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .prev-itens li{
    margin-bottom: 20px;
  }

  .infos{
    font-size: 14px;
  }

}


/* Responsividade fim */